@model MicrowaveViewModel

@* Entity Microwave *@
<div class="card">
    <img src="~/images/Microwave.svg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">No: @Model.Id</h5>
        <h6 class="card-subtitle mb-2 text-muted">Room: @Model.RoomId</h6>
    </div>
    <div class="card-footer">
        <div class="col">
            <div class="row">
                <small class="text-primary">Обслуживается №: @Model.NowQueue</small>
            </div>
        </div>
    </div>
</div>
