@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    @await Component.InvokeAsync("QueueButonComponent")
    
    @*Формирование списка микроволновок*@
    @await Component.InvokeAsync("MicrowaveComponent")

</div>
